*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

.logo{
  width: 120px;
}

.header{
  width: 100%;
  height: 100px;
  padding: 10px 10px;
  background: #64949E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.menu li{
  display: inline-flex;
  list-style: none;
  padding-right: 20px;
}

.menu-link{
  text-decoration: none;
  color: #002;
  padding-right: 10px;
}

.menu-link:hover{
  cursor: pointer;
  text-decoration: underline;
}

.menu-link:hover{
  cursor: pointer;
  text-decoration: underline;
}

.hamburguer-menu{
  order: 1;
}

.hamburguer-menu, .collapse-menu, #check{
  display: none;
}

.about-me-section{
  padding: 10px 0;
}

.section-title{
  text-align: right;
  padding-top: 20px;
  font-size: xx-large;
}

.about-me-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.about-me-paragraph{
  font-size: 35px;
  text-align: center;
}

.profile-picture{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 4px solid #64949E;
  align-self: baseline;
  align-self: baseline;
}

.about-me-buttons-container{
  display: inline-flex;
  gap: 2rem;
  margin-bottom: 15px;
}

.section-button, .tab {
  display: inline-flex;
  height: 50px;
  padding: 0px;
  border-radius: 5px;
  border: 4px solid #64949E;
  overflow: hidden;
  cursor: pointer;
}

.active-tab {
  border-top: 4px solid #64949E;
  border-left: 4px solid #64949E;
  border-right: 4px solid #64949E;
}

.button-text, .button-icon, .tab-text, .tab-icon{
  display: inline-flex;
  align-items: center;
  padding: 0px 10px;
  height: 100%;
}
.button-icon, .tab-icon{
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}

.separator{
  border-top: 4px solid #64949E;
  max-width: 95vw;
}

.projects-section{
  padding: 10px 0
}

.project-list{
  list-style: none;
}

.separator{
  border-top: 4px solid #64949E;
  max-width: 95vw;
}

.projects-section{
  padding: 10px 0
}

.projects-tab-container{
  margin: 15px 0;
}

.project-tabs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tabs{
  list-style: none;
}


.project-content{
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.grid-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(25px, 1fr));
  grid-template-rows: repeat(9, minmax(25px, 1fr));
  place-content: center;
  row-gap: 1rem;
}

.detail-row{
  border: 4px solid #64949E;
  border-right: none;
}

.right{
  border-right: 4px solid #64949E;;
}

.buttons-container{
    margin: 30px 0;
    display: inline-flex;
    gap: 2rem;
}


.footer-section{
  display: flex;
  background: #64949E;
  width: 100%;
  height: auto;
  justify-content: center;
  position: sticky;
  margin-top: auto;
}

.footer-link{
  padding: 0 5px;
  text-decoration: none;
  color: #002;
}

.footer-link:hover{
  text-decoration: underline;
}

.button-up{
  width: 50px;
  height: 50px;
  z-index: 1;
  position: fixed;
  bottom: 15px;
  right: 25px;
  border-radius: 5px;
  border: 4px solid #64949E;
}

.button-up:hover{
  cursor: pointer;
  background: #64949E;
}


/* RESPONSIVE */

@media(max-width: 768px) {

  .hamburguer-menu, .collapse-menu, .menu li {
    display: block;
  }

  .menu-link{
    margin-top: 20px
  }

  .menu {
    padding-top: 70px;
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100%;
    background: #64949E;
    text-align: center;
    transition: 0.9s
  }

  .collapse-menu{
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #check:checked ~ .menu{
    right: 0;
  }

  .section-title{
    text-align: center;
    padding: 20px 0
  }

  .about-me-paragraph{
    font-size: 30px;
  }
  .about-me-container{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 2rem;
  }

  .about-me-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 775px) {

  .projects-buttons-container{
    display: grid;
    grid-auto-columns: max-content;
    place-content: center;
  }

  .section-button{
    justify-content: space-between;
  }
  
}